html,
body {
  font-family: "Helvetica Neue", "Helvetica", "Arial";
  font-size: 14px;
  line-height: 1.64em;
  color: #444;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9f9f9;
  padding: 60px 16px 16px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.custom-form-styles {
  box-shadow: 0 2px 2px rgba( 0, 0, 0, 0.12 );
  max-width: 540px;
  margin: 0 auto;

  -webkit-transform: translateZ( 0 );
  -moz-transform: translateZ( 0 );
  transform: translateZ( 0 );
}

.custom-form-styles header {
  margin-bottom: 16px;
  text-align: center;
}

.custom-form-styles header h3 {
  color: #666;
  font-size: 1.8em;
  line-height: 1.2em;
  font-weight: normal;
  margin: 0;
}

.custom-form-styles hr {
  background-color: #eee;
  border: none;
  height: 1px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.form-success {
  display: none;
}

.user-name {
  font-weight: bold;
}